@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coliseo Virtual</h1>
    <p>Bienvenidos a nuestra tienda de productos relacionados con los videojuegos y el anime.</p>
    <img src="~/images/logotitulo.png"/>
</div>
