@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <title>Políticas de privacidad</title>
    <link rel="stylesheet" type="text/css" href="~/css/privacidad.css"/>
</head>
<body>
    <h1>Políticas de privacidad</h1>

    <div>
        <p>
            ¡Saludos, guerrero/a virtual!

            En Coliseo Virtual, entendemos la importancia de tu privacidad mientras exploras el emocionante universo de videojuegos
            y anime. Queremos asegurarnos de que te sientas cómodo/a al utilizar nuestros servicios, por lo que hemos preparado
            esta Política de Privacidad para explicarte cómo manejamos tu información.
        </p>
        <h1>¿Qué Información Recolectamos?</h1><br />
        <h2>   2. Cuenta de Usuario:</h2>
        <p>
            Cuando creas una cuenta en Coliseo Virtual, recopilamos información básica, como tu nombre de usuario y contraseña,
            para personalizar tu experiencia.
        </p><br />
        <h2>3. Datos de Pago:</h2>
        <p>
            Para completar transacciones, recopilamos información de pago, como detalles de tarjetas de crédito,
            asegurando un proceso seguro y eficiente.
        </p><br />
        <h2>4. Navegación en el Sitio:</h2>
        <p>
            Analizamos tu interacción con nuestro sitio para mejorar la navegación y ofrecerte
            contenido personalizado basado en tus preferencias.
        </p> <br />
        <h2>Uso de la Información</h2>
        <p>
            Utilizamos la información recopilada para:
        </p>
        <ul>
            <li class="lis">Procesar y completar tus pedidos.</li>
            <li class="lis">Gestionar y mantener tu cuenta.</li>
            <li class="lis">Personalizar tu experiencia en nuestro sitio.</li>
        </ul><br />
        <h2>Tu Privacidad es Nuestra Prioridad</h2>
        <p>
            Garantizamos que tu información personal no se venda ni comparta con terceros no afiliados,
            a menos que sea esencial para procesar tus pedidos o cumplir con requisitos legales.
        </p><br />
        <h2> Seguridad en Nuestro Coliseo Virtual</h2>
        <p>
            Implementamos medidas de seguridad robustas para proteger tu información contra
            accesos no autorizados y garantizar la integridad de tu experiencia en nuestro coliseo
        </p><br />
        <h2>¿Necesitas Ayuda?</h2>
        <p>
            Si tienes preguntas sobre nuestra política de privacidad, ¡no dudes en contactarnos! Puedes encontrarnos a través 
            de [correo electrónico de soporte] o cualquier otra información de contacto disponible en nuestro sitio.
            <br />
            Gracias por ser parte de Coliseo Virtual. ¡Que la diversión y la privacidad te acompañen siempre!
        </p>
    </div>
</body>
</html>