@{
    ViewData["Title"] = "CarritoVacio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carrito Vacio</h1>
<hr/>
<p>No hay productos en el carrito, añade productos del <a asp-area="" asp-controller="Escaparate" asp-action="Index">escaparate</a>.</p>