@{
    ViewData["Title"] = "CarritoVacio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 text-center">
        <img src="~/images/nocarrito.png" alt="Carrito Vacío" style="width=70%;" />
        <p>Para añadir productos, hazlo <a asp-area="" asp-controller="Escaparate" asp-action="Index">aquí</a>.</p>
    </div>
</div>