@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Bienvenido a nuestra página web, Coliseo Virtual. <br />
        Aquí tienes de todo sobre videojuegos y anime. Disfruta navegando!</p>
</div>
